{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}

<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}

</form>


<div class="row">
  <div class="col-md-offset-3 col-md-3">
  <h5>{% trans "No account?" %}</h5>
  <p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
      <span class="{% fa_class 'sign-in' %}"></span>
            {% trans "Register" %}
    </a>
  </p>
  </div>
  <div class="col-md-offset-3 col-md-3">
  <h5>{% trans "Forgot password?" %}</h5>
  <p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
  </p>
  </div>
</div>

{% endblock %}

{% block sidebar %}
<div class="col-md-offset-3 col-md-10">
<h4>{% trans "Social Login" %}</h4>
</br>
<p>
    <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span> Sign in with Twitter
          </a>
  </br>
    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
          </a>
    </br>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Sign in with Google
          </a>
</p>
</div>
{% endblock %}
