alabaster==0.7.10
Babel==2.4.0
certifi==2017.4.17
chardet==3.0.4
defusedxml==0.5.0
django-appconf==1.0.2
docutils==0.13.1
html5lib==0.999999999
idna==2.5
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
oauthlib==2.0.2
olefile==0.44
Pygments==2.2.0
PyJWT==1.5.2
python-dateutil==2.6.0
python3-openid==3.1.0
pytz==2017.2
rcssmin==1.0.6
requests-oauthlib==0.8.0
rjsmin==1.0.12
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.0.1
urllib3==1.21.1
webencodings==0.5.1

#
# Requirements for wger for production
#

Django>=1.9,<1.10
django-recaptcha
reportlab
django_mobile
django-formtools>=1.0,<1.1
bleach
python-mimeparse
pillow
easy-thumbnails
django_compressor
icalendar
django-bootstrap-breadcrumbs
sphinx
django-sortedm2m
django-bower
invoke
requests
social-auth-app-django==1.2.0
social-auth-core==1.4.0

# REST API
djangorestframework>=3.2,<3.3
django-filter
django-tastypie
django-cors-headers

# Python3 compatibility
six

dj-database-url==0.4.2
gunicorn==19.7.1
whitenoise==3.3.0
